    body {
        font-family: Helvetica, sans-serif;
    }
    p{
        font-size:200%;
    }
    canvas {
        border:1px solid #d3d3d3;
        background-color: #f1f1f1;
    }
    .score {
        font-size: xx-large;
        animation: all 0.5s;
	    transition: all 0.5s;
    }
    .score.animate {
        color: orangered;
	    font-size: 65px;
	
    }
    #Mensagem{
        display: none;
        animation: all 1s;
	    transition: all 1s;
    }
    #Mensagem.animate{
        position: fixed;
        top: 25%;
        left: 40%;
        display: block;
        font-size: 500%;
        background-color: rgba(255,200,255,0.9);
        color: red;
    }

    .progressBar{
        width: 50%;
    }
    .timerContainer{
        margin-top: -4%;
        margin-left: 30%;
    }