    body {
        font-family: Helvetica, sans-serif;
    }
    #score {
        font-size: xx-large;
        animation: all 0.5s;
	    transition: all 0.5s;
    }
    #score.animate {
        color: orangered;
	    font-size: 65px;
	
    }
    #Mensagem{
        display: none;
        animation: all 1s;
	    transition: all 1s;
    }
    #Mensagem.animate{
        position: fixed;
        margin-top: -50%;
        margin-left: 40%;
        display: block;
        font-size: -webkit-xxx-large;
        background-color: rgba(255,200,255,0.9);
        color: red;
    }
